/* BASIC STYLINGS
============================================================================= */
body {
   padding-top: 2px;
}

.modal-content {
  color: black;
}

pre {
    margin-bottom: 20px;
}
/* form styling */
#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    background: #9b2420;
    margin: 0;
    padding: 30px;
    padding-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* numbered buttons */
#status-buttons {
}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}

#status-buttons span {
    background: #ab3430;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


#status-buttons a.active span {
    background: #000000;
}

.alinear{
	text-align: left;
}

.element1 {
	display: inline-block;
	margin-right: 10px;
}

.element2 {
	display: inline-block;
}

.form-control-modal{width:80%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}


/* ANIMATION STYLINGS
============================================================================= */
#signup-form {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter, #form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}
/* enter animation */
#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}
/* leave animation */
#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft{
	to 		{ transform: translateX(-200%); }
}

 @-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}
@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}
/* slide in from the right */
@keyframes slideInRight{
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}

 @-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }

    to {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }

    to {
        -webkit-transform: translateX(0);
    }
}
