
<table class="table table-striped"
	style="color: black; margin-top: 5px; background-color: #f2f2f2;">
	<thead>
		<tr>

			<th>{{'NAME' | translate}}</th>
			<th>{{'ID' | translate}}</th>
			<th>{{'ENABLED' | translate}}</th>
			<th>{{'REQUEST' | translate}}</th>

			<th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subcategoryModal">{{'NEW' | translate}}</button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="subcategory in subcategoriesAll | orderBy: ['category.externalCategory.catName','externalSubcategory.subCatName']">
			<th scope="row">
				<a class="modalClass" data-toggle="modal" data-target="#subcategoryModal" ng-click="selectCurrentSubcategory(subcategory)" style="color: black;">{{subcategory.externalSubcategory.subCatName}}</a>

			</th>
			<td>
				{{subcategory.id}}
			</td>
			<td>
				{{subcategory.enabled}}
			</td>
			<td>
				{{subcategory.category.externalCategory.catName}}
			</td>
			<td>

			</td>


		</tr>
	</tbody>
</table>



<!-- MODAL SUBCATEGORY-->
<div class="modal fade" id="subcategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<h4 class="modal-title modalClass" id="myModalLabel" style="color: black;">
						{{currentSubcategory.externalSubcategory.subCatName}}
				</h4>
		</div>



			<div class="modal-body modalClass">


				<div class="row">
					<div class="col-sm-3">
						<label>{{'ID' | translate}}:</label>
					</div>
					<div class="col-sm-9">
						<input name="id" class="form-control-modal" ng-model="currentSubcategory.id" disabled/>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label>{{'REQUEST' | translate}}:</label>
					</div>
					<div class="col-sm-9">
						<select ng-model="currentSubcategory.category" ng-change="refreshExternalSubcategories()"
							ng-options="category.externalCategory.catName for category in categoriesAll track by category.id" class="form-control-modal">
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label>{{'EXTERNALCODE' | translate}}:</label>
					</div>
					<div class="col-sm-9">
						<select ng-model="currentSubcategory.externalSubcategory.subCatOid"
							ng-options="externalSubcategory.subCatOid as externalSubcategory.subCatName for externalSubcategory in externalSubcategories" class="form-control-modal">
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-3">
						{{currentSubcategory.externalSubcategory.subCatOid}}
					</div>
				</div>




				<div class="row">
					<div class="col-sm-3">
						<label>{{'ENABLED' | translate}}:</label>
					</div>
					<div class="col-sm-9">
						<input type="checkbox" ng-model="currentSubcategory.enabled"
							ng-true-value="'Y'" ng-false-value="'N'"/>
					</div>
				</div>


				<hr/>


				<div class="row">
					<table class="table table-striped"
						style="color: black; margin-top: 5px; background-color: #f2f2f2;">
						<thead>
							<tr>
								<th>{{'LANGUAGE' | translate}}</th>
								<th>{{'VALUE' | translate}}</th>
								<th>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subcategoryLangModal" ng-click="newSubcategoryLang(currentSubcategory.id)" ng-show="isUpdateSubcategory">{{'NEW' | translate}}</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="subcategoryLang in subcategoryLang | orderBy: 'languageCode'">
								<th scope="row">
									<a class="modalClass" data-toggle="modal" data-target="#subcategoryLangModal" ng-click="selectCurrentSubcategoryLang(subcategoryLang)" style="color: black;">{{subcategoryLang.languageCode}}</a>
								</th>
								<td>
									{{subcategoryLang.name}}
								</td>
								<td>
									<button type="button" ng-click="deleteSubcategoryLang(subcategoryLang)">
										<span class="glyphicon glyphicon-trash">
										</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

	 	</div>

		<div class="modal-footer">

					<button type="button" class="btn btn-success"
						ng-click="updateSubcategory(currentSubcategory)" data-dismiss="modal" ng-show="isUpdateSubcategory">{{'UPDATE' | translate}}</button>

		</div>
		</div>
	</div>
</div>

<!-- MODAL SUBCATEGORY LANG -->
<div class="modal fade" id="subcategoryLangModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<h4 class="modal-title modalClass" id="myModalLabel" style="color: black;">
						{{currentSubcategoryLang.languageCode}} - {{currentSubcategoryLang.subcategory.externalSubcategory.subCatName}}
				</h4>
		</div>



			<div class="modal-body modalClass">

				<div class="row">
					<div class="col-sm-3">
						<label>ID:</label>
					</div>
					<div class="col-sm-9">
						<input name="id" class="form-control-modal" ng-model="currentSubcategoryLang.id" disabled/>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-3">
						<label>{{'LANGUAGE' | translate}}::</label>
					</div>
					<div class="col-sm-9">
						<select class="form-control-modal" ng-model="currentSubcategoryLang.languageCode" ng-options="lo.code as lo.code for lo in languageOptions" ng-disabled="isUpdateCategoryLang">
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label>{{'VALUE' | translate}}::</label>
					</div>
					<div class="col-sm-9">
						<input class="form-control-modal" ng-model="currentSubcategoryLang.name"/>
					</div>
				</div>




			</div>





			<div class="modal-footer">

				<button type="button" class="btn btn-success"
				ng-hide="isUpdateCategoryLang" ng-click="createCategoryLang()" data-dismiss="modal" ng-disabled="!currentCategoryLang.languageCode || !currentCategoryLang.name">
					{{'CREATE' | translate}}
				</button>


					<button type="button" class="btn btn-success"
						ng-click="updateCategoryLang(currentCategoryLang)" data-dismiss="modal" ng-show="isUpdateCategoryLang">{{'UPDATE' | translate}}</button>
		</div>
		</div>
	</div>
</div>
