
SUCAT-ACT
<table class="table table-striped"
	style="color: black; margin-top: 5px; background-color: #f2f2f2;">
	<thead>
		<tr>
			
			<th>{{'ID' | translate}}</th>
			<th>{{'REQUEST' | translate}}</th>			
			<th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">+</button></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="action in actions.actionLang track by $index">
			<th scope="row">
				<a class="modalClass" data-toggle="modal" data-target="#myModal{{$index}}" style="color: black;">{{action.id}}</a>
					
				
				
				<!-- MODAL -->
				<div class="modal fade" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			        	<h4 class="modal-title modalClass" id="myModalLabel" style="color: black;">
			        			{{action.name}}
			         	</h4>
					  </div>					  
					
					  
					  
				     <div class="modal-body modalClass">
				      	<div>
					      	<label class="col-sm-2">{{'ActOid' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{action.action.actOid}}"> -->
					      	<select class="form-control-modal" ng-model="hola"
					      		ng-options="action.name for action in actions.actionLang track by action.id"></select>
				      	</div>
						<div>
					      	<label class="col-sm-2">{{'Subcat' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.reqtypOid}}"> -->
					      	<select style="color: black;" class="form-control-modal" ng-model="request_type_record.action.actionAssigmentList.subcategory" 
					      		ng-options="subcategory.name for subcategory in subcategories.subcategoryLang track by subcategory.id"></select>
				      	</div>
				      	<div>
					      	<label class="col-sm-2">{{'Enabled' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.enabled}}"> -->
					      	<input class="form-control-modal" type="checkbox" 
					      		ng-model="request_type_record.action.enabled"
					      		ng-true-value="'Y'" ng-false-value="'N'">	
				      		<label>{{$scope.request_type_record.action.enabled}}</label>				      	
				      	</div>
				      	<div>
					      	<label class="col-sm-2">{{'Default' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.enabled}}"> -->
					      	<input class="form-control-modal" type="checkbox" 
					      		ng-model="request_type_record.action.actionAssigmentList.defaultSelected"
					      		ng-true-value="'Y'" ng-false-value="'N'">		
				      		<label>{{$scope.request_type_record.action.actionAssigmentList.defaultSelected}}</label>			      	
				      	</div>
				      	
				      	
				      	<hr/>
				      	<div>
					      	<label class="col-sm-2">{{'Language Code' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.languageCode}}">	 -->
					      	<div  data-ng-repeat="choice in choices">
				      		
			      			  <select class="col-sm-2" ng-model="choice.languageCode">
						         <option value="spa">Spa</option>
						         <option value="eng">Eng</option>						         
						      </select>
						      <input type="text" class="form-control-modal" ng-model="choice.name" name="" placeholder="Text here...">
						      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
				      		
					      
					   		</div>
					   		<button class="addfields" ng-click="addNewChoice()">{{'LANGUAGE' | translate}}</button>			      
							<label>{{choices}}</label>				      	
				      	</div>				      

				      </div>
				      

				      <div class="modal-footer">
					        <button type="button" class="btn btn-success" 
				      			ng-click="updateAction(action.id)" data-dismiss="modal">{{'UPDATE' | translate}}</button>
			      			<button type="button" class="btn btn-danger pull-left" 
			      			ng-click="deleteAction(action.id)" data-dismiss="modal">{{'DELETE' | translate}}</button>
					  </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- MODAL CREATE-->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			        	<h4 class="modal-title modalClass" id="myModalLabel" style="color: black;">{{'REQUEST' | translate}}    			
			         	</h4>
					  </div>
					  
				      <div class="modal-body modalClass">
				      	<div>
					      	<label class="col-sm-2">{{'Subcat' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.reqtypOid}}"> -->
					      	<select style="color: black;" class="form-control-modal" ng-model="request_type_record.action.actionAssigmentList.subcategory" 
					      		ng-options="subcategory.name for subcategory in subcategories.subcategoryLang track by subcategory.id"></select>
				      	</div>
				      	<div>
					      	<label class="col-sm-2">{{'ActOid' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{action.action.actOid}}"> -->
					      	<select class="form-control-modal" ng-model="holaa"
					      		ng-options="action.name for action in actions.actionLang track by action.id"></select>
				      	</div>						
				      	<div>
					      	<label class="col-sm-2">{{'Enabled' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.enabled}}"> -->
					      	<input class="form-control-modal" type="checkbox" 
					      		ng-model="request_type_record.action.enabled"
					      		ng-true-value="'Y'" ng-false-value="'N'">	
				      		<label>{{$scope.request_type_record.action.enabled}}</label>				      	
				      	</div>
				      	<div>
					      	<label class="col-sm-2">{{'Default' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.category.enabled}}"> -->
					      	<input class="form-control-modal" type="checkbox" 
					      		ng-model="request_type_record.action.actionAssigmentList.defaultSelected"
					      		ng-true-value="'Y'" ng-false-value="'N'">		
				      		<label>{{$scope.request_type_record.action.actionAssigmentList.defaultSelected}}</label>			      	
				      	</div>
				      	
				      	
				      	<hr/>
				      	<div>
					      	<label class="col-sm-2">{{'Language Code' | translate}}:</label>
<!-- 					      	<input class="form-control-modal" value="{{category.languageCode}}">	 -->
					      	<div  data-ng-repeat="choice in choices">
				      		
			      			  <select class="col-sm-2" ng-model="choice.languageCode">
						         <option value="esp">Spa</option>
						         <option value="eng">Eng</option>						         
						      </select>
						      <input type="text" class="form-control-modal" ng-model="choice.name" name="" placeholder="Text here...">
						      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
				      		
					      
					   		</div>
					   		<button class="addfields" ng-click="addNewChoice()">{{'LANGUAGE' | translate}}</button>			      
							<label>{{choices}}</label>				      	
				      	</div>				      

				      </div>


				      <div class="modal-footer">
					        <button type="button" class="btn btn-success" 
				      			ng-click="createAction()" data-dismiss="modal">{{'CREATE' | translate}}</button>
					  </div>
				    </div>
				  </div>
				</div>	
				
				
				
			</th>
			<td>{{action.name}}</td>			
			<td>
				
			</td>
			
			
		</tr>
	</tbody>
</table>


