
<table class="table table-striped"
	style="color: black; margin-top: 5px; background-color: #f2f2f2;">
	<thead>
		<tr>

			<th>{{'NETWORK' | translate}}</th>
			<th>{{'LOCATION' | translate}}</th>
			<th><button type="button" class="btn btn-primary" data-toggle="modal" ng-click="newSubnetwork()" data-target="#subnetworkModal">{{'NEW' | translate}}</button></th>

		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="subnetwork in subnetworks.subnetwork | orderBy: 'id'">
			<th scope="row">
				<a class="modalClass" data-toggle="modal" data-target="#subnetworkModal" style="color: black;" ng-click="selectCurrentSubnetwork(subnetwork)">{{subnetwork.id}}</a>



				<!-- MODAL UPDATE -->
				<div class="modal fade" id="subnetworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			        	<h4 class="modal-title modalClass" id="myModalLabel" style="color: black;">
			        			{{currentSubnetwork.id}}
			         	</h4>
					  </div>

							<form name="subnetworkForm">

						      <div class="modal-body modalClass">
							      	<div>
								      	<label class="col-sm-2">{{'NETWORK' | translate}}</label>
								      	<input class="form-control-modal" ng-model="currentSubnetwork.id" ng-disabled="isUpdate">
							      	</div>
											<div>
								      	<label class="col-sm-2">{{'LOCATION' | translate}}</label>
								      	<select style="color: black;" class="form-control-modal" ng-model="currentSubnetwork.location"
								      		ng-options="opc.id for opc in locations.location track by opc.id">
							      		</select>
							      	</div>
						      </div>

						      <div class="modal-footer">

											<button type="button" class="btn btn-success"
											ng-hide="isUpdate" ng-click="createSubnetwork()" data-dismiss="modal" ng-disabled="!currentSubnetwork.location || !currentSubnetwork.id">
												{{'CREATE' | translate}}
											</button>


											<button type="button" class="btn btn-info" ng-click="updateSubnetwork(currentSubnetwork.id,currentSubnetwork.location.id)" data-dismiss="modal" ng-show="isUpdate">{{'UPDATE' | translate}}</button>


											<button type="button" class="btn btn-default pull-left" data-dismiss="modal">
												{{'CANCEL' | translate}}
											</button>


							  </div>

						</form>

				    </div>
				  </div>
				</div>





			</th>
			<td>{{subnetwork.location.id}}</td>

			<td>
				<button type="button" ng-click="deleteSubnetwork(subnetwork)">
					<span class="glyphicon glyphicon-trash">
					</span>
				</button>

			</td>






		</tr>
	</tbody>
</table>
