<!DOCTYPE html>
<html data-ng-app="testApp">
<head>
<title>Test</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />


<!-- CSS -->
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="shortcut icon" type="image/png" href="img/favicon.ico" />

<!-- JS -->
<!-- load angular, nganimate, and ui-router -->

<!-- <script	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->

<script type="text/javascript" src="js/angular.min.js"></script>
<script src="js/Controller/testController.js"></script>

</head>
<body ng-controller="testController" style="background-color: white; color: black">

	<div>{{message}}</div>

	<select ng-model="selectedItem1" ng-options="item.catName for item in items">
	</select>

	<select ng-model="selectedItem2"
		ng-options="item.catOid as item.catName for item in items" class="form-control-modal">
	</select>





</body>
</html>
