
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestLabel" translate="demoApp.request.home.createOrEditLabel">Create or edit a Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <div id="form-container">
              <div>
                <img ng-src="{{'content/images/banner_'+ vm.code +'.jpg'}}" class="img-responsive"></img>
              </div>

              <div>
        	      <div class="page-header text-center">
                    <div id="status-buttons" class="text-center">
        	              <a ui-sref-active="active" ui-sref="request.new.category" translate="demoApp.request.home.category">Category</a>
        	              <a ui-sref-active="active" ui-sref="request.new.detail" translate="demoApp.request.home.detail">Details</a>
        	              <a ui-sref-active="active" ui-sref="request.new.summary" translate="demoApp.request.home.summary">Summary</a>
        	          </div>
        	      </div>

        	      <!-- use ng-submit to catch the form submission and use our Angular function -->
        	      <form id="signup-form" ng-submit="processForm()">
        	          <!-- our nested state views will be injected here -->
                    <div class="well" ui-view="contentido">
                        <!-- Angular views -->
                    </div>
        	      </form>
        	  </div>

          </div>

        <!--   <pre> -->
        <!--     {{ formData }} -->
        <!--   </pre> -->

        </div>
        </div>

    </div>
</form>
