<div class="form-group">

	<div class="form-group" ng-show="vm.request.id">
	            <label for="id" translate="global.field.id">ID</label>
	            <input type="text" class="form-control" id="id" name="id"
	                    ng-model="vm.request.id" readonly />
	        </div>
	        <div class="form-group">
	            <label translate="demoApp.request.category" for="field_category">Category</label>
	            <select class="form-control" id="field_category" name="category" ng-model="vm.category" ng-change="vm.changeCategory()" ng-options="category as category.value for category in vm.categories track by category.id">
	                <option value=""></option>
	            </select>
	        </div>
	        <div class="form-group">
	            <label translate="demoApp.request.subcategory" for="field_subcategory">Subcategory</label>
	            <select class="form-control" id="field_subcategory" name="subcategory" ng-model="vm.subcategory" ng-change="vm.changeSubCategory()" ng-options="subcategory as subcategory.value for subcategory in vm.subcategories track by subcategory.id">
	                <option value=""></option>
	            </select>
	        </div>
	        <div class="form-group">
	            <label translate="demoApp.request.action" for="field_action">Action</label>
	            <select class="form-control" id="field_action" name="action" ng-model="vm.action" ng-options="action as action.value for action in vm.actions track by action.id">
	                <option value=""></option>
	            </select>
	        </div>

<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
			<a ui-sref="request.new.detail" class="btn btn-block btn-info" ng-disabled="!vm.action ||
			!vm.subcategory || !vm.category" translate="demoApp.request.home.seccion">
			 <span class="glyphicon glyphicon-circle-arrow-right"></span>
			</a>

	</div>
</div>
