<div>
  <div class="form-group">
          <label class="control-label" translate="demoApp.request.description" for="field_description">Description</label>
          <textarea type="text" class="form-control" name="description" id="field_description"
                  ng-model="vm.request.description"
                  required ng-maxlength="50" />
          <div ng-show="editForm.description.$invalid">
              <p class="help-block"
                  ng-show="editForm.description.$error.required" translate="entity.validation.required">
                  This field is required.
              </p>
              <p class="help-block"
                  ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                  This field cannot be longer than 50 characters.
              </p>
          </div>
      </div>

      <div class="form-group row">
      	<div class="col-xs-6 col-xs-offset-3">
      			<a ui-sref="request.new.summary" class="btn btn-block btn-info" ng-disabled="!vm.request.description"
               translate="demoApp.request.home.seccion">
      			 <span class="glyphicon glyphicon-circle-arrow-right"></span>
      			</a>
      	</div>
      </div>
</div>
