<div class="text-center">
	<div class="row">
		<div class="col-sm-3 alinear"><h4><b>{{'REQUEST' | translate}}:</b></h4></div>
		<div class="col-sm-9 alinear"><h4>{{vm.category.value}}</h4></div>
	</div>

	<div class="row">
		<div class="col-sm-3 alinear"><h4><b>{{'OPTION' | translate}}:</b></h4></div>
		<div class="col-sm-9 alinear"><h4>{{vm.subcategory.value}}</h4></div>
	</div>

    <div class="row">
		<div class="col-sm-3 alinear"><h4><b>{{'TASK' | translate}}:</b></h4></div>
		<div class="col-sm-9 alinear"><h4>{{vm.action.value}}</h4></div>
	</div>


    <textarea class="form-control" name="textModel" id="textModel2" overflow="auto"
		style="resize: vertical" rows="7" readonly="readonly">{{vm.request.description}}</textarea><br>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
    	<div class="alert alert-warning " id="alerta"
		ng-show="!formData.selectedCategory.name || !formData.selectedSubcategory.name || !formData.selectedAction.name || !formData.textModel">
		<strong translate="ALERTASEND"></strong>
		</div>
    </div>

</div>
