<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">

			<div class="pull-left" translate="BIENVENIDA"
				translate-values="{user:userFullName}"></div>


			<div class="pull-right" ng-click="setLanguage(); getLanguage(varIdioma.languageId);
					changeLanguage(varIdioma.codigoIdioma)"><a><span class="glyphicon glyphicon-globe"></span> {{idioma}}</a></div>

	  <div>
	    <img ng-src="{{'content/images/banner_'+ vm.code +'.jpg'}}" class="img-responsive"></img>
	  </div>



	   <div class="alert alert-danger" role="alert" ng-hide="userCaller">
  		{{'NOLOGIN' | translate}}
	   </div>



	   <div>


	      <div class="page-header text-center">

	          <!-- the links to our nested states using relative paths -->
	          <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref="home.category" translate="home.category">Category</a>
                <a ui-sref-active="active" ui-sref="home.detail" translate="home.detail">Details</a>
                <a ui-sref-active="active" ui-sref="home.summary" translate="home.summary">Summary</a>
            </div>

	      </div>

	      <!-- use ng-submit to catch the form submission and use our Angular function -->
	      <form id="signup-form" ng-submit="processForm()">
	          <!-- our nested state views will be injected here -->
	          <div ui-view="contenido"></div>
	      </form>

	  </div>

  </div>

<!--   <pre> -->
<!--     {{ formData }} -->
<!--   </pre> -->

</div>
</div>
